.navbar {
  background-color: white;
  padding: 10px 20px;
  width:100%;
  display:flex;
  justify-content: space-between;
  
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content:space-around;
}

.nav-list a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  padding: 6px 10px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-link {
  text-decoration: none;
  color: #333;
  padding: 0.5rem 1rem;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transition: border 0.3s ease;
}

.nav-link.active {
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  border-radius: 0px;
}



.nav-list a:active {
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  border-radius: 0px;
}


.logo_img{
  width: 70px;
  height: 43.714290618896484px;
  top: 29.14px;
  left: 135px;


}